@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=The+Nautigal&display=swap');

/* ajustes gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* ajustes do corpo */
body {
    font-size: 100%;
    font-family: oswald;
    background-color: #EBFFEE;
    color: #0A4014;
    justify-content: center;
}
/* personalização dos links do menu */
a {
    color: #0A4014;
    text-decoration: none;
    font-family: oswald;
}
/* hover dos botões do menu */
#menu a:hover{
    text-decoration: underline;
}

/* ajustes da logo */
#logo {
    font-size: 2rem;
    font-weight: lighter;
    text-transform: uppercase;
}
/* ajustes do cabeçalho */
#header {
    font-size: 1.5rem;
    text-transform: uppercase;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #EBFFEE;
    border-bottom: 1px solid #0A4014;
}
/* ajustes dos links menu */
#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a {
    display: block;
    padding: .5rem;
}
/* ajustes mobile */
#btn-mobile {
    display: none;
}
@media (max-width: 767px) {
    /* logo no mobile */
    #logo {
        font-size: 1.2rem;
    }
    /* ajustes do menu mobile */
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background-color: #EBFFEE;
        z-index: 10000;
        transition: .6s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        color: #0A4014;
    }
    /* apresentação do menu mobile */
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    /* ajustes visuais do menu mobile */
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    /* ajustes do botão de menu mobile */
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1.2rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        color: #0A4014;
        font-weight: lighter;
        font-family: oswald;
        align-items: center;
    }
    #hamburguer{
        display: block;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        width: 20px;
        height: 2px;
        background-color: currentColor;
        content: '';
        display: block;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

body {
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.image-container {
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container a, li {
    text-decoration: none;
    list-style: none;
    background-color: #0d4cc2;
          color: #0A4014;
          padding: 12px 20px;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          font-family: oswald;
}

.link {
  min-width: 50% !important;
}

@media (min-width: 1200px) .container {
  max-width: 1140px;
}
@media (min-width: 992px) .container {
  max-width: 960px;
}
@media (min-width: 768px) {
.container {
    max-width: 720px;
  }

.link {
    width: 100%;
  }
}
@media (min-width: 576px) {
.container {
    max-width: 540px;
  }
}

.w3-purple, .w3-hover-purple:hover {
color: #fff!important;
background-color: rgba(39, 176, 46, 0.6) !important;
}