@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=The+Nautigal&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;   
}
a {
    color: #0A4014;
    text-decoration: none;
    font-family: oswald;
}
/* hover dos botões do menu */
#menu a:hover {
    text-decoration: underline;
}
/* ajustes da logo */
#logo {
    font-size: 2rem;
    font-weight: lighter;
    text-transform: uppercase;
}
/* ajustes do cabeçalho */
#header {
    font-size: 1.5rem;
    text-transform: uppercase;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #EBFFEE;
}
/* ajustes dos links menu */
#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a {
    display: block;
    padding: .5rem;
}
/* ajustes mobile */
#btn-mobile {
    display: none;
}
@media (max-width: 767px) {
    /* logo no mobile */
    #logo {
        font-size: 1.2rem;
    }
    /* ajustes do menu mobile */
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background-color: #EBFFEE;
        z-index: 10000;
        transition: .6s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        color: #0A4014;
    }
    /* apresentação do menu mobile */
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    /* ajustes visuais do menu mobile */
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    /* ajustes do botão de menu mobile */
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1.2rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        color: #0A4014;
        font-weight: lighter;
        font-family: oswald;
        align-items: center;
    }
    #hamburguer{
        display: block;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        width: 20px;
        height: 2px;
        background-color: currentColor;
        content: '';
        display: block;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}
body {
    font-size: 100%;
    font-family: oswald;
    background-color: #EBFFEE;
    color: #0A4014;
    justify-content: center;
}
input {
    border: none;
    border-bottom: 1px solid #0A4014;
    background-color: transparent;
    color: #0A4014;
    font-size: 18px;
    font-weight: 400;
    text-align: start;
    width: 100%;
    padding: 8px;
}


.descricao {
    display: flex;
    flex-direction: column;
    background-color: #17832B;
    color: #D7FFDE;
    border-radius: 8px;
    margin: 10px;
}
.descricao h1 {
    text-align: center;
    font-size: 42px;
    font-weight: normal;
    text-transform: uppercase;
    color: #D7FFDE;    
    padding-top: 12px;
}
.texto {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}
.grupo h1 {
    text-align: center;
    font-size: 42px;
    font-weight: normal;
    text-transform: uppercase;
    color: #D7FFDE; 
    padding-top: 12px;
}
.perfis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px auto;
    border-radius: 8px;
}
.perfis img {
    width: 200px;
    margin: 12px;
}
.linhaUm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
}
.linhaDois {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
}
.linhaTres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
}
.rodape {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EBFFEE;
    padding: 12px;
    border-top: 1px solid #0A4014;
}

.rodape-mensagem {
    font-size: 16px;
    text-align: center;
}