@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=The+Nautigal&display=swap');

/* ajustes gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* ajustes do corpo */
body {
    font-size: 100%;
    font-family: oswald;
    background-color: #EBFFEE;
    color: #0A4014;
    justify-content: center;
}

body, ul {
    margin: 0px;
    padding: 0px;
}
a {
    color: #0A4014;
    text-decoration: none;
    font-family: oswald;
}
#menu a:hover {
    background-color: rgba(0, 0, 0, .05);
}
#logo {
    font-size: 2rem;
    font-weight: lighter;
    text-transform: uppercase;
}
#header {
    font-size: 1.5rem;
    text-transform: uppercase;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #EBFFEE;
}
#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a {
    display: block;
    padding: .5rem;
}
#btn-mobile {
    display: none;
}
@media (max-width: 767px) {
    #logo {
        font-size: 1.2rem;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background-color: #EBFFEE;
        z-index: 10000;
        transition: .6s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        color: #0A4014;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1.2rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        color: #0A4014;
        font-weight: lighter;
        font-family: oswald;
        align-items: center;
    }
    #hamburguer{
        display: block;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        width: 20px;
        height: 2px;
        background-color: currentColor;
        content: '';
        display: block;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}
/* .conteudo {
    margin-bottom: 48px;
    border-top: 1px solid #0A4014;
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    padding: 24px;
    margin: 16px;
    background-color: #d8d8d8;
    color: rgb(32, 32, 32);
    border-radius: 8px;
}

.conteudo-principal-item {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #17832B;
    color: #D7FFDE;
    border-radius: 8px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    padding: 24px;
    margin: 16px;
    border-radius: 8px;
}

.conteudo-secundario-item {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #17832B;
    color: #D7FFDE;
    border-radius: 8px;
}
 */
.rodape {
    position: bottom;
    left: 0;
    bottom: 0;
    background-color: #EBFFEE;
    padding: 12px;
    border-top: 1px solid #0A4014;
    font-size: 16px;
    text-align: center;
}
.row{
    padding: 12px;
    border-top: 1px solid #0A4014;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.coluna-esquerda {   
    float: left;
    width: 75%;
    color: #D7FEDF;
    border-radius: 8px;
  }
  
  /* Right column */
  .coluna-direita {
    float: left;
    width: 25%;
    background-color: #EBFFEE;
    padding-left: 20px;
    color: #D7FEDF;
    border-radius: 8px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: rgb(38, 83, 34);
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: #17832B;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 767px) {
    .coluna-esquerda, .coluna-direita {   
      width: 100%;
      padding: 0;
    }
}