body, html {
    box-sizing: border-box;
    margin: 0 0 55px 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    grid-area: header;
}
/* cabeçalho */
* {
    margin: 0;
    padding: 0;
}
/* botões do cabeçalho */
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
    font: bolder;
}
a:hover{
    opacity: 0.7;
}
/* botão principal */
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
/* conteudo da barra de navegação */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    font-family: Arial;
    background-color: #40b671;
    box-shadow: #126b65 0px 0px 10px;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    padding: 10px;
    border-radius: 10px;
}
/* conteudo do menu mobile */
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: rgb(255, 255, 255);
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #16A79D;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* h1{
    border-radius: 5px;
    padding: 10px;
    margin: 30px;
    background-color: #8bbadb;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #8bbadb;
    display: flex;
    overflow-x: auto;
}

.nav__link{
    display: flex;
}

.container{
    position: relative;
    padding: 10px;
}
.row{
    padding: 40px;
    position: relative;
    width: auto;
    height: 300;
    margin: 27px;
    background: #CF4858;
    border-radius: 15px;
    text-align: start;
    color: white;
}
.row2 {
    padding: 40px;
    position: relative;
    width: auto;
    height: auto;
    margin: 27px;
    background: #6F9EB0;
    border-radius: 15px;
    text-align: start;
}

.row3 {
    padding: 40px;
    position: relative;
    width: auto;
    height: auto;
    margin: 27px;
    background: #F6624A;
    border-radius: 15px;
    text-align: start;
}

.row4 {
    padding: 40px;
    position: relative;
    width: auto;
    height: auto;
    margin: 27px;
    border-radius: 15px;
    text-align: start;
    background: #F4AC42;
}